@model CarSearchViewModel

@Html.DropDownListFor(m => m.SelectedBrandId, new SelectList(Model.Brands, "Id", "Name", Model.SelectedBrandId), "Select Car Brand", new { @id = "brandList", @class = "form-control" })

<select id="modelList" class="form-control" name="@Html.NameFor(m => m.SelectedModelId)" value="@Model.SelectedModelId">
    <option value="">Select Car Model</option>
    @foreach (var m in Model.Models)
    {

        @:<option value="@m.Id" brand-id="@m.CarBrandId" @(m.Id==Model.SelectedModelId ? "selected='selected'": "" )>@m.Name</option>
    }
</select>
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.ShowOnlyOverdue, new { @class = "" })
        Show only overdue 
    </label>
</div>
<button type="submit" class="btn btn-default">Search</button>
